* {
  margin: 0;
  background: #eee;
}

header {
  background: #444;
  height: 10vh;
  width: 100%;
}

main {
  background: #fff;
  height: 90vh;
  width: 75%;
  margin: 0 auto;
  position: relative;
}

footer {
  background: #000;
  height: 10vh;
  width: 100%;
  position: absolute;
  bottom: 0;
}
